.wrapper {
    display: flex;
    align-items: center;
    .form {
        padding: 52px 137px;
        width: 50%;

        &-header {
            padding-bottom: 24px;

            &__logo {
                height: 35px;
                margin-bottom: 32px;
                width: 84px;
            }
            &__title {
                font-size: 24px;
                font-weight: 600;
                line-height: 1.2;
                margin-bottom: 0.5rem;
                margin-top: 0;
            }
            &__caption {
                font-size: 14px;
                letter-spacing: 0;
                margin-bottom: 0;
                width: 85%;
                color: #6c757d !important;
            }
        }

        &-login {
            display: block;
            width: 100%;

            &__input {
                &-group {
                    margin-bottom: 1rem;
                    &__label {
                        display: inline-block;
                        margin-bottom: 0.5rem;
                    }

                    &__fill {
                        box-shadow: 0 0 30px rgba(0, 0, 0, 0.25);
                        border: 1px solid #eee;
                        border-radius: 3px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-wrap: nowrap;
                        position: relative;
                        width: 100%;
                        height: 40px;

                        &-icon {
                            height: 100%;
                            border-top-left-radius: 3px;
                            border-bottom-left-radius: 3px;
                            color: #00b14f;
                            padding: 6px 4px;
                            z-index: 1;
                        }

                        &-control {
                            width: 100%;
                            background: #fff 0 0 no-repeat padding-box;
                            border: none;
                            font-size: 14px;
                            padding: 7px 24px;
                            margin-left: -16px;
                        }

                        &-control:focus {
                            outline: #6c757d;
                        }

                        &-toggle {
                            background: transparent;
                            border: none;
                            color: #00b14f;
                            height: 40px;
                            padding-right: 12px;
                        }
                    }
                    &__button {
                        cursor: pointer;
                        margin-top: 1rem;
                        margin-bottom: 1rem;
                        width: 100%;
                        height: 40px;
                        background: var(--primary-color);
                        color: #fff;
                        align-self: center;
                        border: 1px solid transparent;
                        border-radius: 0.25rem;
                        display: inline-block;
                        font-size: 1.5rem;
                        font-weight: 400;
                        line-height: 1.5;
                        padding: 0.375rem 0.75rem;
                        text-align: center;
                    }

                    &__policy {
                        margin-top: 3rem;
                        font-size: 12px;
                        &-link {
                            text-decoration: none;
                            color: var(--primary-color);
                            font-weight: 600;
                        }
                    }
                    // &__text {
                    //     font-size: 12px;
                    //     text-align: center;
                    // }
                }
                // &-option {
                //     display: flex;
                //     justify-content: center;

                //     &__link {
                //         text-decoration: none;
                //         background: #ea4335;
                //         border-color: #ea4335;
                //         border-radius: 3px;
                //         color: #fff;
                //         font-size: 15px;
                //         height: 40px;
                //         width: 100%;
                //         padding-top: 2px;
                //         display: flex;
                //         flex-direction: column;
                //         align-items: center;
                //         justify-content: center;
                //     }
                // }
            }
        }

        &-auth {
            display: flex;
            justify-content: space-between;
            font-size: 14px;
            margin-top: 3rem;
            border-bottom: #eeeeee solid 1px;
            padding-bottom: 3rem;

            &__signup {
                text-decoration: none;
                color: var(--primary-color);
                font-weight: 600;
            }

            &__forgotPassword {
                text-decoration: none;
                color: var(--primary-color);
                font-weight: 600;
            }
        }

        &-contact {
            margin-top: 1.5rem;
            font-size: 12px;

            &__text {
                font-weight: 700;
            }
        }
    }

    .slider {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50%;
        height: 765px;
        background-color: #f3fff7;
    }
}
