.company {
    background-color: #e5e5e5;
    &-container {
        margin: 2rem 22rem;
        border-radius: 10px;
        &__header {
            &-imgCover {
                height: 236px;
                overflow: hidden;
            }
            &-content {
                display: flex;
                align-items: center;
                background: #fff;
                padding-left: 24px;
                padding-right: 24px;
                position: relative;
                &__avatar {
                    margin-right: 24px;
                    background: #fff;
                    border-radius: 10px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                    top: -65px;
                    width: 110px;
                    height: 110px;
                    &-img {
                        border: 1px solid #e5e5e5;
                        border-radius: 10px;
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                        margin-top: 14px;
                    }
                }

                &__title {
                    width: 64%;
                    &-text {
                        color: #333;
                        font-size: 24px;
                        margin-top: 0;
                    }
                    &-numberEmployee {
                        font-size: 15px;
                        padding-right: 40px;
                    }
                }

                &__btn {
                    background: #00b14f;
                    height: 40px;
                    border-radius: 3px;
                    color: #fff;
                    padding: 10px 40px;
                    border: none;
                    display: flex;
                    align-items: center;
                    justify-self: center;
                    margin: 5px;
                }

                &__btn-chat {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 40px;
                    background: #fff;
                    border: 1px solid #00b14f;
                    color: #00b14f;
                    border-radius: 5px;
                    font-weight: 600;
                    margin: 5px;

                    &__text {
                        display: block;
                        margin-left: 14px;
                    }
                }

                &__btn-chat:hover {
                    background-image: linear-gradient(rgba(0, 0, 0, 0.05) 0 0);
                }
            }
        }

        &__content {
            margin-top: 2rem;
            &-info {
                background-color: #fff;
                border-radius: 10px;
                padding: 24px;
                &__title {
                    border-left: 5px solid var(--primary-color);
                    &-text {
                        font-size: 18px;
                        font-weight: 600;
                        padding-left: 10px;
                    }
                }
                &__content {
                    font-size: 16px;
                }
            }
            &-recruit {
                margin-top: 2rem;
                margin-bottom: 2rem;
                background-color: #fff;
                border-radius: 10px;
                padding: 24px;
                &__title {
                    border-left: 5px solid var(--primary-color);
                    &-text {
                        font-size: 18px;
                        font-weight: 600;
                        padding-left: 10px;
                    }
                }
                &__content {
                    display: flex;
                    flex-wrap: wrap;
                }
            }
        }
    }
}
