.showAddRecord {
    background-color: rgba(0, 0, 0, 0.1);
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 50px;
    transition: opacity 0.15s linear;
    display: flex;
    align-items: center;
    justify-content: center;
    &_dialog {
        z-index: 3;
        width: 600px;
        background-color: #fff;
        box-shadow: 0 5px 15px rgb(0 0 0 / 50%);
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 5px;
        &_container {
            padding: 18px;
            .createCompany-container {
                display: block;
                height: fit-content;
                width: 100%;
                border-radius: 10px;
                background-color: #fff;
                margin-top: 30px;
                margin-bottom: 30px;
                .form {
                    padding: 52px 52px;
                    width: 100%;

                    &-header {
                        padding-bottom: 24px;
                        &__title {
                            font-size: 24px;
                            font-weight: 600;
                            line-height: 1.2;
                            margin-bottom: 0.5rem;
                            margin-top: 0;
                        }
                        &__caption {
                            font-size: 14px;
                            letter-spacing: 0;
                            margin-bottom: 0;
                            width: 85%;
                            color: #6c757d !important;
                        }
                    }

                    &-login {
                        display: block;
                        width: 100%;

                        &__input {
                            &-group {
                                margin-bottom: 1rem;
                                &__label {
                                    display: inline-block;
                                    margin-bottom: 0.5rem;
                                }

                                &__fill {
                                    box-shadow: 0 0 30px rgba(0, 0, 0, 0.25);
                                    border: 1px solid #eee;
                                    border-radius: 3px;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    flex-wrap: nowrap;
                                    position: relative;
                                    width: 100%;
                                    height: 40px;

                                    &-icon {
                                        height: 100%;
                                        border-top-left-radius: 3px;
                                        border-bottom-left-radius: 3px;
                                        color: #00b14f;
                                        padding: 6px 4px;
                                        z-index: 1;
                                    }

                                    &-control {
                                        width: 100%;
                                        background: #fff 0 0 no-repeat padding-box;
                                        border: none;
                                        font-size: 14px;
                                        padding: 7px 24px;
                                        margin-left: -16px;
                                    }

                                    &-control:focus {
                                        outline: #6c757d;
                                    }

                                    &-toggle {
                                        background: transparent;
                                        border: none;
                                        color: #00b14f;
                                        height: 40px;
                                        padding-right: 12px;
                                    }
                                }
                                &__button {
                                    cursor: pointer;
                                    margin-top: 1rem;
                                    margin-bottom: 1rem;
                                    width: 100%;
                                    height: 40px;
                                    background: var(--primary-color);
                                    color: #fff;
                                    align-self: center;
                                    border: 1px solid transparent;
                                    border-radius: 0.25rem;
                                    display: inline-block;
                                    font-size: 1.5rem;
                                    font-weight: 400;
                                    line-height: 1.5;
                                    padding: 0.375rem 0.75rem;
                                    text-align: center;
                                }

                                &__text {
                                    font-size: 12px;
                                    text-align: center;
                                }

                                &__button_close {
                                    cursor: pointer;
                                    margin-top: 1rem;
                                    margin-bottom: 1rem;
                                    width: 100%;
                                    height: 40px;
                                    background: #fff;
                                    border: 1px solid #00b14f;
                                    color: #00b14f;
                                    align-self: center;
                                    border-radius: 0.25rem;
                                    display: inline-block;
                                    font-size: 1.5rem;
                                    font-weight: 400;
                                    line-height: 1.5;
                                    padding: 0.375rem 0.75rem;
                                    text-align: center;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
