.container {
    box-sizing: border-box;
    height: 186px;
    margin-right: 22rem;
    margin-left: 22rem;

    .footer {
        display: flex;
        justify-content: space-between;
        border-top: #eeee solid 1px;
        padding-top: 31px;
        &-left {
            padding-left: 20px;
            &__text {
                font-size: 14px;
                font-weight: 600;
            }

            &__item {
                font-size: 14px;
                color: #667db2;
            }
        }

        &-right {
            display: flex;
            align-items: flex-start;
            padding-right: 20px;
            &__item {
                &-img {
                    width: 130px;
                    height: 55px;
                    image-rendering: optimizeSpeed;
                }
            }
        }
    }
}
