.management {
    margin: 20px;

    &-container {
        display: flex;
        background-color: #fafafa;

        .sidebar {
            width: 25%;
        }

        .table {
            width: 75%;
        }
    }
}
