.wrapper {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #fff;
    width: 100%;
    height: 78px;
    padding: 0 30px;
    border-bottom: #f2f2f2 solid 1px;
    display: flex;
    align-items: center;
    z-index: 1;

    .header-logo {
        width: 10%;
        padding: 14px 0;
        &__img {
            width: 120px;
            height: 50px;
            image-rendering: optimizeSpeed;
        }
    }

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        &-left {
            display: flex;

            &__item {
                list-style-type: none;

                &-link {
                    font-size: 14px;
                    color: #333;
                    text-decoration: none;
                    font-weight: 600;
                    margin: 16px 5px;
                    padding: 13px 10px;
                }
            }
        }
        &-right {
            display: flex;

            &__item {
                list-style-type: none;

                &-buttonOutline {
                    display: block;
                    height: 48px;
                    text-decoration: none;
                    background: #fff;
                    border: 1px solid #00b14f;
                    color: #00b14f;
                    border-radius: 5px;
                    font-weight: 600;
                    margin-right: 8px;
                    margin-top: 8px;
                    padding: 10px 16px;
                }

                &-buttonOutline:hover {
                    background-image: linear-gradient(rgba(0, 0, 0, 0.05) 0 0);
                }

                &-buttonPrimary {
                    display: block;
                    height: 48px;
                    text-decoration: none;
                    background: #00b14f;
                    border: 1px solid #00b14f;
                    color: #fff;
                    border-radius: 5px;
                    font-weight: 600;
                    margin-right: 8px;
                    margin-top: 8px;
                    padding: 10px 16px;
                }

                &-buttonPrimary:hover {
                    background-image: linear-gradient(rgba(0, 0, 0, 0.1) 0 0);
                }

                &-buttonRecruit {
                    display: block;
                    height: 48px;
                    text-decoration: none;
                    background: #212f3f;
                    border: 1px solid #212f3f;
                    color: #fff;
                    border-radius: 5px;
                    font-weight: 600;
                    margin-right: 8px;
                    margin-top: 8px;
                    padding: 10px 16px;
                }
            }
        }
    }
}
