.chat {
    &-container {
        margin: 5rem;
        &__header {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 32px;
            &-logo {
                height: 100%;
                width: 190px;
            }
        }
        &__content {
            background-color: #ecfff4;
            border-radius: 10px;
            display: flex;
            justify-content: space-around;
            margin: 0 170px;
            &-sidebar {
                width: 25%;
                &__wrapper {
                    padding: 20px;
                    &-title {
                        padding: 5px;
                        margin: 5px;
                        &__text {
                            color: #00b14f;
                            font-weight: 600;
                        }
                    }
                    &-item {
                        border: 1px solid #00b14f;
                        background-color: #fff;
                        border-radius: 20px;
                        display: flex;
                        align-items: center;
                        justify-content: space-around;
                        padding: 5px;
                        margin: 5px;
                        cursor: pointer;
                        &__avatar {
                            &-img {
                                width: 50px;
                                height: 50px;
                                border-radius: 50%;
                                object-fit: cover;
                            }
                        }
                        &__name {
                            &-text {
                                margin: 0;
                                color: #333;
                                font-weight: 600;
                                width: 132px;
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                            }
                        }
                    }
                    &-item:hover {
                        background-image: linear-gradient(rgba(0, 0, 0, 0.1) 0 0);
                    }
                }
            }
        }
    }
    &-back {
        display: flex;
        align-items: center;
        justify-content: center;

        &__btn {
            background-color: #00b14f;
            border: none;
            border-radius: 5px;
            color: #fff;
            height: 40px;
        }
    }
}
